<div class="main">
    <div class="section">
        <div class="mb-2">
            <h1 class="bold-500">
                Painel de controle
            </h1>
        </div>
        <div class="container-row">
            <!-- Teachers requests -->
            <div class="item teachers-requests border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-2">
                    Pedidos de professores
                </div>
                <!-- End -->
                
                <div class="irrelevant-text text-disabled-1 mb-2">
                    Professores que desejam fazer parte da Universidade Católica de Angola
                </div>

                <!-- Teachers request list item-->
                <div class="d-flex mb-3">
                    <!-- Teacher image -->
                    <div class="img-profile-xm mr-3">
                        <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                    </div>
                    <!-- End -->

                    <!-- Teacher information -->
                    <div class="d-flex flex-column w-100">
                        <div class="irrelevant-text">
                            <a href="#" class="discretLink">
                                Armindo Miguel
                            </a>
                        </div>
                        <div class="irrelevant-text">
                            há 2 segundos
                        </div>
                        <div class="bold-500">
                            <h5>
                                Licenciado em Ciência de Computação
                            </h5>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Actions to requests -->
                    <div class="d-flex align-items-center">
                        <button mat-button class="ml-3">
                            aceitar
                        </button>
                        <button mat-button color="warn">
                            cancelar
                        </button>
                    </div>
                    <!-- End -->
                </div>
                <!-- End -->
                <mat-divider class="mb-3"></mat-divider>
                <!-- Teachers request list item-->
                <div class="d-flex mb-3">
                    <!-- Teacher image -->
                    <div class="img-profile-xm mr-3">
                        <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                    </div>
                    <!-- End -->

                    <!-- Teacher information -->
                    <div class="d-flex flex-column w-100">
                        <div class="irrelevant-text">
                            <a href="#" class="discretLink">
                                Armindo Miguel
                            </a>
                        </div>
                        <div class="irrelevant-text">
                            <h5>
                                há 2 segundos
                            </h5>
                        </div>
                        <div class="bold-500">
                            <h5>
                                Licenciado em Ciência de Computação
                            </h5>
                        </div>
                    </div>
                    <!-- End -->

                    <!-- Actions to requests -->
                    <div class="d-flex align-items-center">
                        <button mat-button class="ml-3">
                            aceitar
                        </button>
                        <button mat-button color="warn">
                            cancelar
                        </button>
                    </div>
                    <!-- End -->
                </div>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Courses of the school -->
            <div class="item course-school border">
                <!-- Title card -->
                <div class="relevant-text-title mb-2">
                    Cursos
                </div>
                <!-- End -->

                <!-- Create new course -->
                <div class="d-flex w-100 justify-content-center mb-2">
                    <button mat-button class="relevant-text-info">
                        ADICIONAR NOVO CURSO 
                    </button>
                </div>
                <!-- End -->

                <!-- Course list item -->
                <div class="d-flex flex-column mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-2 w-100">
                            Engenharia Informática
                        </div>
                        <div>
                            <button mat-icon-button matTooltip="Editar">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Course list item -->
                <div class="d-flex flex-column mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-2 w-100">
                            Engenharia de Produção Industrial
                        </div>
                        <div>
                            <button mat-icon-button matTooltip="Editar">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Course list item -->
                <div class="d-flex flex-column mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-2 w-100">
                            Engenharia Mecânica
                        </div>
                        <div>
                            <button mat-icon-button matTooltip="Editar">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Courses of the school -->
            <div class="item teachers-school border">
                <!-- Title card -->
                <div class="relevant-text-title mb-4">
                    Professores
                </div>
                <!-- End -->

                <div class="d-flex align-items-center">
                    <div class="img-profile-xm mr-2">
                        <img src="../../../assets/images/pexels-pixabay-207691.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <div class="irrelevant-text">
                            António Simão
                        </div>
                        <div>
                            <a href="#" class="primaryLink">
                                <h5>8 turmas</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>