<div class="main bg-white">
    
    <div class="section">
        <div class="container-row mb-4">
            <div class="img-profile-xm mr-4">
                <img src="../../assets/images/pexels-christina-morillo-1181519.jpg">
            </div>
            <button class="answer-trigger-button">Dê o seu ponto de vista</button>
        </div>

        <div class="container-row mb-4">
            <div class="img-profile-xm mr-4">
                <img src="../../../assets/images/pexels-pixabay-207691.jpg">
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="bold-500"> Manuel Jorge </a>
                <span class="irrelevant-text-xm"> Há 1s</span>
                <span class="answer-content">
                    On the other hand, we denounce with righteous indignation and
                     dislike men who are so beguiled and demoralized by the charms 
                     of pleasure of the moment, so blinded by desire, that they cannot 
                     foresee the pain and trouble that are bound to ensue; and equal blame 
                     belongs to those who fail in their duty through weakness of will, which 
                     is the same as saying through shrinking from toil and pain.
                </span>
            </div>
        </div>      
        
        <div class="container-row mb-4">
            <div class="img-profile-xm mr-4">
                <img src="../../../assets/images/pexels-pixabay-207691.jpg">
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="bold-500"> Manuel Jorge </a>
                <span class="irrelevant-text-xm"> Há 1s</span>
                <span class="answer-content">
                    On the other hand, we denounce with righteous indignation and
                     dislike men who are so beguiled and demoralized by the charms 
                     of pleasure of the moment, so blinded by desire, that they cannot 
                     foresee the pain and trouble that are bound to ensue; and equal blame 
                     belongs to those who fail in their duty through weakness of will, which 
                     is the same as saying through shrinking from toil and pain.
                </span>
            </div>
        </div>  

        <div class="container-row mb-4">
            <div class="img-profile-xm mr-4">
                <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="bold-500"> Prof. Daniel Silva </a>
                <span class="irrelevant-text-xm"> Há 1s</span>
                <span class="answer-content">
                    On the other hand, we denounce with righteous indignation and
                     dislike men who are so beguiled and demoralized by the charms 
                     of pleasure of the moment, so blinded by desire, that they cannot 
                     foresee the pain and trouble that are bound to ensue; and equal blame 
                     belongs to those who fail in their duty through weakness of will, which 
                     is the same as saying through shrinking from toil and pain.
                </span>
            </div>
        </div>  
    </div>
                                  
</div>
