<div class="main">
    <div class="section">           
        <!-- Questions section -->
        <div class="container-row">
            <!-- Question -->
            <div class="item bg-white">
                <div class="img-profile-xm pt-3">
                    <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                </div>
                <span class="px-3"> Alberto Manuel </span>
                <span class="bold-500 px-3 pb-3"> Como funciona o endereçamento das variáveis na memória? </span>
                <mat-divider class="w-100"></mat-divider>

                <div class="doubt-content">
                    
                        Et harum quidem rerum facilis est et expedita distinctio. 
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque 
                        nihil impedit quo minus id quod maxime placeat facere possimus, omnis 
                        voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam 
                        et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                        repudiandae sint et molestiae non recusandae.                   
                </div>
                <button mat-button > Ver mais</button>
            </div>  
            <!-- End -->

            <!-- Question -->
            <div class="item bg-white">
                <div class="img-profile-xm pt-3">
                    <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                </div>
                <span class="px-3"> Cisa Matias </span>
                <span class="bold-500 px-3 pb-3"> Como funciona o endereçamento das variáveis na memória? </span>
                <mat-divider class="w-100"></mat-divider>

                <div class="doubt-content">
                    
                        Et harum quidem rerum facilis est et expedita distinctio. 
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque 
                        nihil impedit quo minus id quod maxime placeat facere possimus, omnis 
                        voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam 
                        et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                        repudiandae sint et molestiae non recusandae.                   
                </div>
                <button mat-button > Ver mais</button>
            </div>  
            <!-- End -->

            <!-- Question -->
            <div class="item bg-white">
                <div class="img-profile-xm pt-3">
                    <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                </div>
                <span class="px-3"> Cisa Matias </span>
                <span class="bold-500 px-3 pb-3"> Como funciona o endereçamento das variáveis na memória? </span>
                <mat-divider class="w-100"></mat-divider>

                <div class="doubt-content">
                    
                        Et harum quidem rerum facilis est et expedita distinctio. 
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque 
                        nihil impedit quo minus id quod maxime placeat facere possimus, omnis 
                        voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam 
                        et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
                        repudiandae sint et molestiae non recusandae.                   
                </div>
                <button mat-button > Ver mais</button>
            </div>  
            <!-- End -->
        </div>
    </div>
</div>
