<div class="main bg-white">
    <div class="section  ">
        <!-- Some information about the studant -->
        <div class="container-row">
            <div class="img-profile-sm">
                <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
            </div>
            <div class="d-flex flex-column ml-4">
                <span class="relevant-text-principal"> Alberto Manuel </span>
                <span class="relevant-text-title"> Como funciona o endereçamento das variáveis na memória? </span>
                <span class="irrelevant-text-xm">
                    Há 1 dia
                </span>
            </div>            
        </div>
        <span class="badge badge-success mt-4" [style.width.rem]="4" >Resolvida</span>
        <!-- End -->

        <!-- Content of the question -->
        <div class="mt-4 relevant-text-normal text-justify">
            On the other hand, we denounce with righteous indignation
            and dislike men who are so beguiled and demoralized by the
            charms of pleasure of the moment, so blinded by desire, that
            they cannot foresee the pain and trouble that are bound to ensue;
            and equal blame belongs to those who fail in their duty through weakness
            of will, which is the same as saying through shrinking from toil and pain.
            These cases are perfectly simple and easy to distinguish. In a free hour,
            when our power of choice is untrammelled and when nothing prevents our being
            able to do what we like best, every pleasure is to be welcomed and every pain
            avoided. But in certain circumstances and owing to the claims of duty or the
            obligations of business it will frequently occur that pleasures have to be repudiated
            and annoyances accepted. The wise man therefore always holds in these matters to this
            principle of selection: he rejects pleasures to secure other greater pleasures, or
            else he endures pains to avoid worse pains
        </div>
        <!-- End of question content -->

        <!-- Navigation sections -->
        <div class="navigation-actions mt-4">
            <ul class="justify-content-evenly">
                <li>
                    <a class="nav-action text-desabled" [routerLink]="['/question',5, 'about']"
                        routerLinkActive="nav-action-selected">
                        <span> ACERCA</span>
                    </a>
                </li>
                <li>
                    <a class="nav-action text-desabled" [routerLink]="['/question',5, 'answers']"
                        routerLinkActive="nav-action-selected">
                        <span> RESPOSTAS (3)</span>
                    </a>
                </li>
                <li>
                    <a class="nav-action text-desabled" routerLink="/lesson/watch/questions"
                        routerLinkActive="nav-action-selected">
                        <span> COMENTÁRIOS (5)</span>
                    </a>
                </li>
            </ul>
        </div>
        <router-outlet>

        </router-outlet>
    </div>
    
</div>