@mixin animation-defining($animation) {
    -webkit-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}

%loading {
    background-color: rgba(238, 237, 234,.5);
    @include animation-defining(loading-animation 1s ease-in 0s infinite alternate-reverse);
}
.loading-presentation {
    height: 17rem;
    @extend %loading;
}


@-webkit-keyframes loading-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-ms-keyframes loading-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-o-keyframes loading-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@-moz-keyframes loading-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@keyframes loading-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}
