@import '../../../shared/styles/standard-layout';

.main{
    @extend %main;
}

.section{
    @extend %section;
}

.container-row{
    @extend %container-row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item{
    @include item-config(49%);
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2% 2% 0;
}

.doubt-content{
    padding: 1rem;
    overflow: hidden;
    height: 40%;
}


.item:nth-child(2n){
    margin-right: 0;
}

