<div class="teacher-place-profile-main bg-white">
    <div class="w-100">
        <ng-container *ngIf="teacherPlace; else loadingItem">
            <div id="teacher-place-image-profile">
                <img [src]="teacherPlace.profilePhotoPath">
            </div>
        </ng-container>
    </div>

    <!-- Teacher place relevant informations -->
    <div class="bg-white p-3 d-flex justify-content-between" [style.width.%]="96">
        <div id="teacher-place-information">
            <ng-container *ngIf="teacherPlace">
                <div class="relevant-text-title-lg mb-3">
                    <span [matTooltip]="teacherPlace.teacherPlaceCode"> {{teacherPlace.name}}</span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="img-profile-md" *ngIf="teacherPlace; else noImage">
                        <img [src]="teacherPlace.teacherPictureProfilePath">
                    </div>
                    <div class="d-flex flex-column ml-3">
                        <div class="irrelevant-text-xm bold-500">
                            <span>{{teacherPlace.disciplineName}}</span>
                        </div>
                        <a [routerLink]='["/teacher", teacherPlace.teacherId,"profile","about"]' class="discretLink h-25">
                            Professor {{teacherPlace.teacherFirstName}}
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="d-flex justify-content-end" [style]="{width:'70%', height:'2.5rem'}">
            <ng-container *ngIf="role.toUpperCase() == 'TEACHER' && owner">
                <button class="border-radius-0 button-bg-accent-1 mr-4" mat-flat-button>
                    <mat-icon [style.fontSize.rem]="1.2">
                        post_add
                    </mat-icon>
                    ADICIONAR AULA
                </button>
            </ng-container>
            <ng-container *ngIf="role.toUpperCase() == 'STUDANT'">
                <button class="border-radius-0" mat-flat-button color="primary">
                    MATRICULAR-SE
                </button>
            </ng-container>
        </div>
    </div>

    <!-- To navigate across the vary sections of teacher-place profile -->
    <div class="navigation-actions">
        <ul>
            <li>
                <a class="nav-action text-disabled" routerLink="about"
                    routerLinkActive="nav-action-selected">
                    <span> ACERCA</span>
                </a>
            </li>

            <li>
                <a class="nav-action text-disabled" routerLink="lessons"
                    routerLinkActive="nav-action-selected">
                    <span> AULAS</span>
                </a>
            </li>

            <li>
                <a class="nav-action text-disabled" routerLink="studants"
                    routerLinkActive="nav-action-selected">
                    <span> MATRICULADOS (20)</span>
                </a>
            </li>

            <li>
                <a class="nav-action text-disabled" routerLink="mensages"
                    routerLinkActive="nav-action-selected">
                    <span> MENSAGENS</span>
                </a>
            </li>

            <li>
                <a>
                    <mat-form-field floatLabel="never">
                        <button mat-icon-button matSuffix [style.fontSize.rem]="1.4">
                            <mat-icon>
                                search
                            </mat-icon>
                        </button>

                        <input matInput type="text" placeholder="Pesquisar" color="accent">
                    </mat-form-field>
                </a>
            </li>
        </ul>
    </div>
    <div class="w-100 bg-lighter">
        <router-outlet></router-outlet>
    </div>
    <!-- End -->
</div>

<!-- Templates -->
<ng-template #loadingItem>
    <app-loading-item></app-loading-item>
</ng-template>