<div class="main mb-5">
    <div class="section">
        <div class="container-row">
            <div class="about-video-lesson item bg-white p-3">
                <span class="bold-500 mb-3"> Sobre a aula</span>
                <p class="">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                    id est laborum et dolorum fuga.
                </p>
            </div>

            <div class="d-flex flex-column item p-4">
                <!-- Teacher Identifications -->
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <div class="img-profile-xm mr-4">
                        <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                    </div>
                    <a href="#">
                        <span>Prof. Daniel Manuel Silva</span>
                    </a>
                </div>
                <!-- End -->

                <!-- Teaher Date -->
                <span class="irrelevant-text-xm text-desabled">
                    Engenheiro Informático
                </span>
                <a href="#" class="mb-2">
                    Licenciado na Universidade Católica de Angola
                </a>
                <!-- End -->
            </div>
            <!-- End  -->
        </div>
    </div>
</div>