<div class="main mb-5">
    <div class="section">
        <div class="container-row">
            <div class="about-video-lesson item bg-white p-3">
                <span class="bold-500"> Sobre a aula</span>
                <p class="">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                    id est laborum et dolorum fuga.
                </p>
            </div>

            <div class="about-teacher item bg-white p-3">
                <div class="img-profile-sm d-flex justify-content-center">
                    <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                </div>
                <button mat-button class="bold-400 p-0 relevant-text-principal m-0" routerLink="#" matTooltipPosition="above" matTooltip="Visitar perfil">
                    Prof. Daniel Silva
                </button>

                <span class="text-desabled" [style.fontSize.rem]=".8"> Engenharia Informática </span>
                <span class="text-desabled" [style.fontSize.rem]=".8">  Instituto Superior Politécnico de Tecnologia e Ciências </span>
            </div>
        </div>
    </div>
</div>