<ng-container *ngIf="lessonsGrouped; else loadingItems">
    <div class="lesson-main">
        <div class="lesson-section">
            <!-- Set of lessons -->
            <div class="lesson-container">
                <ng-container *ngFor="let lessonGrouped of lessonsGrouped">
                    <a [routerLink]="['/lesson','watch', 'questions']" [queryParams]="{lesson:lessonGrouped.lessons[0]?.id}"
                        class="lesson-item item bg-white border">
                        <!-- lesson-item -->
                        <div class="thumbnail-lessons">
                            <div class="thumbnail-background">
                                <img [src]="lessonGrouped.lessons[0]?.backgroundPhotoPath">
                            </div>
                            <div class="w-100 d-flex">
                                <div class="lesson-length">
                                    <h4>{{lessonGrouped.lessons?.length}}</h4>
                                    <span class="mt-2">
                                        <mat-icon>
                                            library_books
                                        </mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column p-3">
                            <span class="irrelevant-text-xm text-disabled-1">
                                Tópico
                            </span>
                            <span class="bold-500">
                                {{lessonGrouped.disciplineTopic.name}}
                            </span>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loadingItems>
    <app-loading-item></app-loading-item>
</ng-template>