<div class="main">
    <div class="section mb-4">
        <div class="container-row">
            <div class="d-flex flex-column item p-4">
                <span class="bold-500 mb-3">
                    Sobre a turma
                </span>

                <p class="">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                    id est laborum et dolorum fuga.
                </p>

            </div>
            <!-- End  -->

            <div class="d-flex flex-column item p-4">
                <!-- Institute Information -->
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <div class="img-profile-xm mr-4">
                        <img src="../../../assets/images/istpec_logo_yellow.png">
                    </div>
                    <a href="#">
                        <span>Instituto Superior Politécnico de Tecnologia e Ciências</span>
                    </a>
                </div>
                <!-- End -->

                <!-- Teaher Data -->
                <span class="irrelevant-text-xm text-disabled">
                    Curso de Engenharia Informática
                </span>
                <a href="#" class="mb-2">
                    Prof. Alberto Mateus
                </a>
                <span class="irrelevant-text-xm text-disabled">
                    Engenheiro Quimico
                </span>
                <a href="#">
                    Licenciado na Universidade Católica de Angola
                </a>
                <!-- End -->
            </div>
            <!-- End  -->
        </div>
    </div>
</div>