<div class="h-100">
    <div class="d-flex justify-content-between">
        <h2 mat-dialog-title>
            Carregar video-aula
        </h2>
        <button mat-icon-button>
            <mat-icon mat-dialog-close>
                close
            </mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-horizontal-stepper #stepper [linear]="true">
            <ng-template matStepperIcon="videoChoice">
                <mat-icon>
                    add_to_photos
                </mat-icon>
            </ng-template>

            <ng-template matStepperIcon="details">
                <mat-icon>
                    panorama_fish_eye
                </mat-icon>
            </ng-template>

            <mat-step [stepControl]="videoFg" editable="false" label="Escolher video" state="videoChoice">
                <div class="d-flex flex-column justify-content-between dialog-content">
                    <form [formGroup]="videoFg" class="d-flex justify-content-center mt-5">
                        <div class="w-50 p-relative">
                            <button mat-flat-button color="warn" class="w-100">
                                SELECIONAR VIDEO <mat-icon class="ml-1"> video_library </mat-icon>
                            </button>
                            <!-- Fetch selected filed on change -->
                            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)"
                                name="uploadFile" formControlName="videoCtl" accept="video/*" />
                        </div>
                    </form>
                    <div class="d-flex flex-column align-items-center justify-content-center irrelevant-text-sm text-disabled-1">
                        <p>
                            Certifique-se que o video que deseja carregar não viola as <a href="#" class="ml-1"> regras
                                da
                                comunidade Alumny</a>
                        </p>
                    </div>
                </div>
            </mat-step>

            <mat-step label="Detalhes" state="details">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h1>Aguarde, a video-aula está quase no ar :)</h1>
                    <div class=" irrelevant-text-sm text-disabled-1 mt-4">
                        {{progress}} % Enviado no servidor
                    </div>
                    <mat-progress-bar [value]="progress" color="primary"></mat-progress-bar>
                </div>
            </mat-step>
            
            <mat-step [stepControl]="videoInfoFg">
                <form [formGroup]="videoInfoFg" class="d-flex flex-column">
                    <mat-form-field class="w-100 mb-4">
                        <mat-label> Insira o título da aula </mat-label>
                        <input type="text" matInput [formControl]="title">
                        <mat-error *ngIf="title.touched && title.errors?.maxlength">
                            Nome demasiado extenso
                        </mat-error>
                        <mat-error *ngIf="title.touched && title.hasError('required')">
                            O campo não pode estar vazio
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>
                            Qual é o objectivo da aula
                        </mat-label>
                        <textarea id="description-field" [formControl]="description" matInput></textarea>
                        <mat-error *ngIf="description.touched && description.hasError('required')">
                            O campo não pode estar vazio
                        </mat-error>
                        <mat-error *ngIf="description.touched && description.errors?.maxlength">
                            Descrição demasiado extensa
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
</div>