<div class="teacher-place-main bg-lighter">

    <!-- Create Teacher Place -->
    <div class="teacher-place-section">
        <!-- To activate only when is the teacher of the teacher place -->
        <button class="border-radius-0 button-bg-accent1 mr-4"  mat-flat-button>
            <mat-icon [style.fontSize.rem]="1.2">
                create_new_folder
            </mat-icon>
             CRIAR TURMA
        </button>
    </div>

    <!-- To choose the school and academic year -->
    <div class="d-flex justify-content-end mb-3 " [style.width.%]="96">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex flex-row align-items-center">
                <a class="discretLink" href="#"> Instituto Superior Politécnico de Tecnologia e Ciências </a>
                <div class="circle-diviser"></div>
                <span> 2020</span>
            </div>
            <span>
                <button mat-icon-button matToolTip="Mais opções" [matMenuTriggerFor]="optMenu">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <mat-menu #optMenu="matMenu">
                    <button mat-menu-item>
                        Escolher Escola
                    </button>
                </mat-menu>
            </span>
        </div>
    </div>
    <!-- End -->

    <!-- The teacher places lists -->
    <div class="teacher-place-section">
        <div class="teacher-place-container">
            <div class="teacher-place-item  item bg-white border p-0 ">
                <!-- Teacher Place Data -->
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <!-- End -->
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->

            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->

            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div id="teacherPlaceBg">
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column p-3">
                    <div class="relevant-content-normal justify-content-start d-flex">
                        <span class="m-0 bold-500"> Turma de Programação IV </span>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="img-profile-xxm mr-3">
                            <img src="../../../assets/images/pexels-thirdman-5060987.jpg">
                        </div>   
                        <a class="irrelevant-text-xm bold-500 discretLink" href="#"> 
                            Prof. Daniel Manuel Silva
                        </a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="description-teacher-place">
                    <p class="relevant-text-normal text-justify">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- More options -->
                <div class="d-flex justify-content-end">
                    <button class="discretButton" mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->

            </div>

        </div>
    </div>
    <!-- End -->
</div>