<div class="teacher-place-main bg-lighter">

    <!-- To choose the academic year -->
    <div class="d-flex justify-content-end" [style.width.%]="96">
        <div class="d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="alterar ano lectivo">
                <mat-icon> expand_more </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span>2020</span>
                </button>
                <button mat-menu-item>
                    <span>2019</span>
                </button>
                <button mat-menu-item>
                    <span>2018</span>
                </button>
            </mat-menu>
            <span>Ano lectivo 2020</span>
        </div>
    </div>
    <!-- End -->
    <!-- The teacher place information -->
    <div class="teacher-place-section">
        <div class="teacher-place-container">
            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2 badge-container">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2 badge-container">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2 badge-container">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2 badge-container">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            
            </div>

            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2 badge-container">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            
            </div>
        
            <div class="teacher-place-item  item bg-white border p-0 ">
                <div>
                    <img src="../../assets/images/lesson2.jpg">
                </div>
                <div class="d-flex flex-column  p-1">
                    <div class="relevant-content-normal justify-content-center d-flex badge-container">
                        <h4 class="m-0 bold"> Turma de Programação IV </h4>
                    </div>
                    <div class="d-flex flex-row justify-content-center p-2">
                        <a href="#" class="badge badge-info mr-4">EINMF1</a>
                        <a href="#" class="badge badge-danger mr-4">António P.</a>
                        <a href="#" class="badge badge-warning">Programação</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Description about the teacher place -->
                <!-- Add height to overflow right the date -->
                <div class="p-2">
                    <p class="relevant-text-normal text-center">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.
                    </p>
                </div>
                <!-- End -->
            
            </div>

        </div>
    </div>
    <!-- End -->
</div>